<a href="https://colab.research.google.com/github/kimsh77/Midterm24/blob/main/2023013206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸŒ€Midterm 2024: your full name

## Variable Question

In [4]:
# Marry, 1998, Ohio; and John, 1999, Boston.
x = input("What's your name?"); y = input("When were you born in?"); z = input("Where is your hometown?")
print("Hello, my name is ",x, ". I was born in ",y, ", and I'm from ",z, ". Nice to meet you.")

What's your name?Mary
When were you born in?1998
Where is your hometown?Ohio
Hello, my name is  Mary . I was born in  1998 , and I'm from  Ohio . Nice to meet you.

## Name Question

In [10]:
# Name question
x = "My name is"
y = "Seohyeon"
print(x, y, ".")

My name is Seohyeon .

## Index Question

In [13]:
# Dropdown

cardinal_number = "2" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number)

# Ordinal expression as a list

words = ["First", "Second", "Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Third

## Function Question

In [14]:
def divide(x, y):
    return x / y

result = divide(20, 4)
print(result)

5.0

## Dictionary Question

In [16]:
grades = {'A':70,'B':85,'C':90}
grade = grades["B"]
print(grade)

85

## GTTS Question