<a href="https://colab.research.google.com/github/kimsh77/Midterm24/blob/main/2023013206_reviewedbyMK316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üåÄMidterm 2024: (Kim SH)

(Reviewed by MK316)

## Variable Question (üòäGood job! But puntuation doesn't match. Check my code below): 2.5/3

In [ ]:
# Marry, 1998, Ohio; and John, 1999, Boston.
x = input("What's your name?"); y = input("When were you born in?"); z = input("Where is your hometown?")
print("Hello, my name is ",x, ". I was born in ",y, ", and I'm from ",z, ". Nice to meet you.")

What's your name?Mary
When were you born in?1998
Where is your hometown?Ohio
Hello, my name is  Mary . I was born in  1998 , and I'm from  Ohio . Nice to meet you.

üö© Suggested code below:

In [ ]:
x = input("Name: ") #name
y = input("Born in: ") #born_in
z = input("Home town: ") #hometown

text = f"Hello, my name is {x} and I was born in {y}. I'm from {z}. Nice to meet you!"
print(text)

## Name Question(üòçYou got it!): 3/3

üö© However, the punctuation still doesn't work. So, refer to my suggested code below.

In [ ]:
# Name question
x = "My name is"
y = "Seohyeon"
print(x, y, ".")

My name is Seohyeon .

üö© Suggested code below:

In [ ]:
# Name question
x = "My name is"
y = "Seohyeon"
print(f"{x} {y}.")

My name is Seohyeon.

## Index Question(üòèCheck my code below): 1/3

In [ ]:
# Dropdown

cardinal_number = "2" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number)

# Ordinal expression as a list

words = ["First", "Second", "Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Third

üö© Suggested code below:

In [ ]:
# Dropdown

cardinal_number = "4" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number) - 1            #üö© Index matching

# Ordinal expression as a list

words = ["First", "Second","Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Fourth

## Function Question (üòçYou got it!): 3/3

In [ ]:
def divide(x, y):
    return x / y

result = divide(20, 4)
print(result)

5.0

## Dictionary Question (üòçYou got it!): 3/3

In [ ]:
grades = {'A':70,'B':85,'C':90}
grade = grades["B"]
print(grade)

85

## GTTS Question

---
#The END

Coding: 12.5